.headerMobile {
  span {
    color: black;
  }
  margin: 5px 52px;
  &__img {
    img {
      margin-bottom: 20px;
      width: 130px;
    }
  }

  &__img {
    @include MediaQuery($xs) {
      img {
        width: 80px;
      }
    }
  }
}
